.anuncio {
  display: block;
  margin: 5em 2em 3em 2em;
  text-align: center;
  position: relative;
}

.anuncio-titulo {
  font-size: 0.5rem;
  color: gray;
  position: absolute;
  top: -4%;
  right: 0;
}

.anuncio-img {
  width: 100%;
}

@media (min-width: 1024px) {
  .anuncio {
    display: none;
  }
}
