.cabeçalho {
  display: flex;
  position: relative;
  padding: 1.5em 1em 1em 1em;
  background-color: var(--verde-escuro);
}

.menu-icone {
  align-self: flex-start;
  width: 15%;
}

.logo {
  width: 45%;
  position: absolute;
  left: 30%;
  bottom: 0;
}

.midias-sociais,
.cabeçalho-titulo,
.face,
.twitter {
  display: none;
}

@media (min-width: 768px) {
  .midias-sociais {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5em;
    gap: 15px;
  }

  .menu-icone {
    width: 8%;
  }

  .logo {
    width: 25%;
    left: 20%;
  }

  .cabeçalho-titulo {
    display: block;
    position: absolute;
    left: 48%;
    align-self: center;
    font-family: var(--fonte);
    color: var(--branco);
  }

  .midias-sociais-item {
    width: 6%;
    padding: 0.5em 0;
    background-color: white;
    border-radius: 10px;
    text-align: center;
  }

  .midias-sociais-item-img {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .cabeçalho {
    padding: 3em 2em 2 2em;
    align-items: center;
  }

  .menu-icone {
    width: 5%;
    margin-left: 3em;
  }

  .logo {
    width: 18%;
    left: 30%;
  }

  .cabeçalho-titulo {
    left: 49%;
  }

  .midias-sociais {
    position: absolute;
    right: 6%;
    gap: 20px;
  }

  .midias-sociais-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 7%;
    padding: 0.25em;
    gap: 8px;
    border-radius: 5px;
  }

  .midias-sociais-item:hover {
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
    border: inset whitesmoke;
  }

  .midias-sociais-item-img {
    width: 25%;
  }

  .face {
    display: block;
    font-family: var(--fonte);
    font-size: 0.6rem;
    color: blue;
  }

  .twitter {
    display: block;
    font-family: var(--fonte);
    font-size: 0.6rem;
    color: rgb(6, 163, 163);
  }
}
