.swiper-slide {
  position: relative;
}

.img-carrossel {
  width: 100%;
  display: block;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 4.75em 0 2em 0;
}

.img-carrossel-descrição {
  position: absolute;
  bottom: 10%;
  background-color: var(--verde-claro);
  padding: 0.25em 1em;
  color: var(--branco);
  font-weight: 500;
}

.descrição-carrossel {
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  bottom: -28%;
  color: var(--verde-fonte);
}

.descrição-carrossel span,
.img-desktop {
  display: none;
}

@media (min-width: 768px) {
  .img-carrossel-descrição {
    bottom: 27%;
    left: 5%;
    padding: 0.25em 4em 0.25em 1em;
  }

  .descrição-carrossel {
    bottom: 8%;
    left: 5%;
    color: var(--branco);
    font-size: 1.75rem;
  }

  .descrição-carrossel span {
    display: block;
  }

  .swiper-pagination {
    margin: 1em 0;
  }
}

@media (min-width: 1024px) {
  .img-desktop {
    display: block;
    width: 100%;
  }

  .img-carrossel {
    display: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    position: absolute;
    top: 45%;
  }
}
