.divoltis-titulo {
  font-size: 1.5rem;
  margin-top: 2em;
  color: var(--verde-fonte);
  font-weight: 500;
}
.divoltis-materia {
  margin: 1.5em 0;
}

.divoltis-materia-img {
  width: 100%;
  height: 70%;
  margin-bottom: 0.75em;
}

.divoltis-materia-titulo {
  color: var(--verde-claro);
}

.divoltis-materia-descrição {
  color: var(--verde-fonte);
  margin: 0.5em 0 1em 0;
  font-size: 1.25rem;
}

.anuncio-desktop {
  display: none;
}

@media (min-width: 768px) {
  .divoltis {
    display: grid;
    grid-template-areas:
      "titulo titulo"
      "consetis aenean"
      "matis divinis";
    column-gap: 25px;
  }

  .divoltis-titulo {
    grid-area: titulo;
  }

  .consetis {
    grid-area: consetis;
  }

  .aenean {
    grid-area: aenean;
  }

  .matis {
    grid-area: matis;
  }

  .divinis {
    grid-area: divinis;
  }

  .divoltis-materia-descrição {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .divoltis {
    display: grid;
    grid-template-areas:
      "titulo titulo titulo"
      "consetis aenean pub"
      "matis divinis pub";
  }

  .anuncio-desktop {
    display: block;
    grid-area: pub;
    text-align: center;
    position: relative;
    margin-top: 3em;
  }

  .anuncio-desktop img {
    width: 100%;
    height: auto;
  }

  .anuncio-desktop > .anuncio-titulo {
    top: -2%;
  }
}
