.divoltis-titulo {
    font-size: 1.5rem;
    color: var(--cor-fonte1);
    margin-top: 2em;
}

.divoltis-info img {
    width: 100%;
    margin-top: 1em;
}

.info-titulo {
    color: var(--cor-de-fundo3);
    margin: 1em 0;
    font-size: 1rem;
}

.info-descricao {
    font-size: 1.2rem;
    color: var(--cor-fonte1);
    margin-bottom: 1em;
}

.anuncio-desktop {
    display: none;
}

@media (min-width: 768px) {
    .divoltis {
        display: grid;
        grid-template-areas: 
        'a a'
        'b c'
        'd e';
        column-gap: 30px;
    }

    .divoltis-info img {
        margin-top: 2em;
        height: 65%;
    }

    .divoltis-titulo {
        grid-area: a;
    }

    .consetis {
        grid-area: b;
    }

    .aenean {
        grid-area: c;
    }

    .matis {
        grid-area: d;
    }

    .divinis {
        grid-area: e;
    }

    .info-descricao {
        font-size: 1rem;
    }
}


@media (min-width: 1024px) {
    .divoltis {
        grid-template-areas: 
        'a a a'
        'b c f'
        'd e f';
    }

    .anuncio-desktop {
        display: block;
        grid-area: f;
        text-align: center;
        margin-top: 1.25em;
    }

    .publicidade {
        font-size: 0.5rem;
        margin: 0 0 0.5em 80%;
        color: gray;
    }
    
    .anuncio-desktop img {
        width: 95%;
        height: 90%;
    }
   
   .info-titulo {
        margin: 0.5em 0;
        font-size: 0.75em;
   }
}