.voltar {
  background-color: var(--verde-claro);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.voltar button {
  background-color: transparent;
  border: none;
  font-family: var(--fonte);
  color: var(--branco);
  font-weight: 500;
  padding: 0;
}

.copy {
  padding: 2em 1em;
  background-color: var(--verde-fonte);
}

.copy-descrição {
  color: var(--branco);
  font-family: var(--fonte);
}

.logo-footer {
  display: none;
}

@media (min-width: 768px) {
  .copy {
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-footer {
    display: block;
  }

  .copy-descrição {
    font-size: 0.75rem;
    margin-left: 2em;
  }
}

@media (min-width: 1024px) {
  .copy {
    padding: 1em 6em;
  }
  .copy-descrição {
    margin-left: 4em;
  }
}
