@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --cor-de-fundo1: #2980B9;
    --cor-de-fundo2: #E74C3C;
    --cor-de-fundo3: #3498DB;
    --cor-fonte1: #2C3E50;
    --cor-fonte2: #ECF0F1;
    --fonte: 'Roboto';
}


body {
    background-color: var(--cor-fonte2);
    font-family: var(--fonte);
    font-size: 1rem;
}

main {
    padding: 2em 1em;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    main {
        padding: 3em 2em;
    }
}

@media (min-width: 1024px) {
    main {
        padding: 4em;
    }
}