.topicos-titulo {
  font-size: 1.5rem;
  color: var(--verde-claro);
  margin: 2em 0 0.5em 0;
}

.topicos-descrição {
  color: var(--verde-fonte);
  padding: 0.75em 0;
}

.pirulita-titulo {
  color: var(--verde-escuro);
}

.pirulita-materia {
  display: flex;
  margin: 1.5em 0;
}

.pirulita-materia-img {
  width: 45%;
  margin-right: 1em;
}

.pirulita-materia-titulo {
  color: var(--verde-escuro);
  margin: 1em 0;
  font-size: 0.9rem;
}

.pirulita-materia-descrição {
  color: var(--verde-fonte);
}

@media (min-width: 768px) {
  .texto {
    display: grid;
    grid-template-areas:
      "a b"
      "c d";
    gap: 25px;
  }

  .topicos {
    grid-area: a;
  }

  .pirulita {
    grid-area: b;
  }

  .suco {
    grid-area: c;
  }

  .anuncio {
    grid-area: d;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .texto {
    grid-template-areas: "a b c";
    column-gap: 30px;
  }

  .pirulita-materia-img {
    width: 40%;
  }
}
